body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.header {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

 input[type="submit"] {
    background-color: #72c8fe;
    border: 1px solid transparent;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.575rem 0.95rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    border-radius: 15px;
}

input[type="text"], input[type="number"] {
    line-height: 2.9;
    width: 25%;
    font-size: 20px;
    box-sizing: border-box;
    height: 50px;
}

input[type="text"]:hover, input[type="number"]:hover{
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

input[type="submit"]:active {
  box-shadow: 0 0 25px rgba(255,0,0,0.6);
}


input[type="submit"]:hover{
    background-color: #4eb9ff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}


table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
    font-size: 1.4rem;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

td.delete{
    width : 1px;
}

.mybutt{
    background-color:#f0473c;
    color:#ffffff;
    font-family:Arial;
}

.mybutt:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

.mybutt:active {
	position:relative;
	top:5px;
}
